In [1]:
import pandas as pd
import pickle

In [2]:
%%time
june = pd.read_csv('../data/june.csv')
june.head()

Wall time: 1min 2s

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-01 00:00:12,36.1202,-86.7534,Powered93627c35-0f62-5b81-a78d-75a4a92ecf47,Powered,90.0,scooter,0.06,Jump
1,2019-06-01 00:00:12,36.1630,-86.7765,Powered17715097-e8a0-5494-a5ab-9b625796607d,Powered,63.0,scooter,0.06,Jump
2,2019-06-01 00:00:12,36.1202,-86.7533,Powerede5cb95ae-b091-5a93-86fa-ededd946d0d7,Powered,77.0,scooter,0.06,Jump
3,2019-06-01 00:00:12,36.1201,-86.7530,Powered71fa5e4f-1e17-54c4-936d-330df38cc2fa,Powered,0.0,scooter,0.06,Jump
4,2019-06-01 00:00:12,36.1622,-86.7806,Poweredfa549dd6-40bb-5757-ac87-2c2528f2bc68,Powered,2.0,scooter,0.06,Jump

In [12]:
june.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28046095 entries, 0 to 28046094
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  object
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   sumdtype     object
 5   chargelevel  float64
 6   sumdgroup    object
 7   costpermin   float64
 8   companyname  object
dtypes: float64(4), object(5)
memory usage: 1.9+ GB

#### convert the company name to an integer 
- find the unique company names
- assign each company an integer (you can use a dictionary for this step)
- update the `companyname` column to store the integer id for each company

In [13]:
june.companyname.unique()

array(['Jump', 'Bird', 'Bolt', 'Gotcha', 'Spin', 'Lime', 'Lyft'],
      dtype=object)

In [14]:
company_dict = {'Bird':0, 'Lyft': 1, 'Gotcha': 2, 'Lime': 3, 'Spin': 4, 'Jump': 5, 'Bolt': 6}

In [16]:
june.companyname = june.companyname.replace(company_dict)

#### next convert `pubdatetime` to a datetime

In [17]:
june.pubdatetime = pd.to_datetime(june.pubdatetime)
june.head(2)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-01 00:00:12,36.1202,-86.7534,Powered93627c35-0f62-5b81-a78d-75a4a92ecf47,Powered,90.0,scooter,0.06,5
1,2019-06-01 00:00:12,36.1630,-86.7765,Powered17715097-e8a0-5494-a5ab-9b625796607d,Powered,63.0,scooter,0.06,5

#### Next remove unneeded data
#### keep just the scooters

In [18]:
june.sumdgroup.unique()

array(['scooter', 'Scooter', 'bicycle'], dtype=object)

In [19]:
june_scooters = june.loc[june.sumdgroup.isin(['scooter', 'Scooter'])]

#### keep just the columns we want to work with

In [20]:
june_scooters = june_scooters[['pubdatetime', 'latitude', 'longitude', 'sumdid', 'chargelevel', 'companyname']]

#### check `.info()` again

In [21]:
june_scooters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28037408 entries, 0 to 28046094
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  datetime64[ns]
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   chargelevel  float64
 5   companyname  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 1.5+ GB

#### The only object datatype remaining is sumdid (an alphanumeric unique identifier)
- time to pickle

In [22]:
june_scooters.to_pickle("../data/june.pkl")

In [23]:
%%time
june = pd.read_pickle("../data/june.pkl")

Wall time: 5.19 s

In [24]:
june.head(30)

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-06-01 00:00:12,36.1202,-86.7534,Powered93627c35-0f62-5b81-a78d-75a4a92ecf47,90.0,5
1,2019-06-01 00:00:12,36.1630,-86.7765,Powered17715097-e8a0-5494-a5ab-9b625796607d,63.0,5
2,2019-06-01 00:00:12,36.1202,-86.7533,Powerede5cb95ae-b091-5a93-86fa-ededd946d0d7,77.0,5
3,2019-06-01 00:00:12,36.1201,-86.7530,Powered71fa5e4f-1e17-54c4-936d-330df38cc2fa,0.0,5
4,2019-06-01 00:00:12,36.1622,-86.7806,Poweredfa549dd6-40bb-5757-ac87-2c2528f2bc68,2.0,5
5,2019-06-01 00:00:12,36.1554,-86.7808,Powered9e113e9f-0ac7-5b22-b6f6-16c246237b65,8.0,5
6,2019-06-01 00:00:12,36.1582,-86.7888,Powered9579bea8-8ee5-56d2-bc52-96715fbbc077,19.0,5
7,2019-06-01 00:00:12,36.1447,-86.8132,Powered402430bc-118f-5da7-bc77-e577b39ba4ac,84.0,5
8,2019-06-01 00:00:12,36.1432,-86.8146,Powered93f29f0e-5a4c-5ac2-9f2c-a9770ef63d07,67.0,5
9,2019-06-01 00:00:12,36.1433,-86.7917,Poweredf3505c0d-b541-577a-af33-caa49b6d577c,60.0,5
10,2019-06-01 00:00:12,36.1197,-86.7531,Powered4cc3708c-16e6-59e9-afdf-c706edce8145,39.0,5
11,2019-06-01 00:00:12,36.1198,-86.7535,Powered28475498-038b-5b25-89eb-6eda986b7b33,42.0,5
12,2019-06-01 00:00:12,36.1584,-86.7905,Poweredc02aeae6-5fb9-50a8-83e3-e3825d54ad50,36.0,5
13,2019-06-01 00:00:12,36.1540,-86.7858,Poweredfa03ef7d-833f-5e42-b439-78787460363e,34.0,5
14,2019-06-01 00:00:12,36.1630,-86.7749,Powered1735d059-25ac-5870-947b-59a58069bb22,63.0,5
15,2019-06-01 00:00:12,36.1198,-86.7537,Powered48b31957-8e5f-57bb-a8bc-dca1c8a414e7,1.0,5
16,2019-06-01 00:00:12,36.1202,-86.7533,Powerede4138a33-4d2e-5ce4-ad3c-9da496472b9d,0.0,5
17,2019-06-01 00:00:12,36.1199,-86.7532,Powered947f9e23-64e9-5dc6-af9c-3980af15c192,0.0,5
18,2019-06-01 00:00:12,36.1523,-86.7947,Powered3d099838-659b-5660-9463-a029ba277d63,10.0,5
19,2019-06-01 00:00:12,36.1200,-86.7529,Poweredc44e554e-db06-5264-90ba-2131faa9967f,41.0,5
20,2019-06-01 00:00:12,36.1202,-86.7534,Poweredd53dba22-ae93-5674-a67f-ffb9e3583ade,1.0,5
21,2019-06-01 00:00:12,36.1510,-86.7845,Poweredb8a3a269-d1ca-571f-9b2f-89b7399b5537,92.0,5
22,2019-06-01 00:00:12,36.1638,-86.7800,Powered2ab9c103-4f7b-5d67-9721-a62595d2fdae,37.0,5
23,2019-06-01 00:00:12,36.1198,-86.7532,Powered96fbef92-52d1-586a-b97f-8c6de34b6291,0.0,5
24,2019-06-01 00:00:12,36.1672,-86.7641,Powered47455114-17b7-56bf-b1ad-19c050427a0f,1.0,5
25,2019-06-01 00:00:12,36.1203,-86.7536,Poweredc25cd7bb-3007-5df0-b0c8-606eaf139918,0.0,5
26,2019-06-01 00:00:12,36.1594,-86.7810,Poweredb3b2528e-350e-5d2a-91be-0bf6117f37ee,0.0,5
27,2019-06-01 00:00:12,36.1659,-86.7690,Powered1a242cef-3fb5-5b46-b778-99737942d7e3,70.0,5
28,2019-06-01 00:00:12,36.1203,-86.7533,Powered8188abfc-82a8-5a82-8b19-b1f1518efc5a,57.0,5
29,2019-06-01 00:00:12,36.1199,-86.7531,Powered24f46289-67a4-5307-bf13-dcebeb349607,1.0,5

In [25]:
june.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28037408 entries, 0 to 28046094
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  datetime64[ns]
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   chargelevel  float64
 5   companyname  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 1.5+ GB